<div class="flex flex-col space-y-10 bg-white md:p-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 justify-center items-center gap-6">
    <div class="flex flex-col items-center space-y-4">
      <div class="w-48 h-64 bg-gray-200"></div>
      <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-13 px-4 py-2 w-32 border border-solid border-black">
        ENCORCHADORA
      </button>
    </div>
    <div class="flex flex-col items-center space-y-4">
      <div class="w-48 h-64 bg-gray-200"></div>
      <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-13 px-4 py-2 w-32 border border-solid border-black">
        ENCAPSULADORA
      </button>
    </div>
    <div class="flex flex-col items-center space-y-4">
      <div class="w-48 h-64 bg-gray-200"></div>
      <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-13 px-4 py-2 w-32 border border-solid border-black">
        TERMOSELLADORA
      </button>
    </div>
    <div class="flex flex-col items-center space-y-4">
      <div class="w-48 h-64 bg-gray-200"></div>
      <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-13 px-4 py-2 w-32 border border-solid border-black">
        ETIQUETADORA
      </button>
    </div>
  </div>
  {{!-- <div class="flex flex-row justify-center">
    <div class="w-full bg-gray-300 h-12 rounded-tl-full rounded-bl-full"></div>
    <div class="w-1/6 bg-gray-400 h-12"></div>
    <div class="w-2/3 bg-gray-400 h-12"></div>
    <div class="w-1/6 bg-gray-400 h-12"></div>
    <div class="w-full bg-gray-300 h-12 rounded-tr-full rounded-br-full"></div>
  </div> --}}
  <div class="flex flex-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 justify-center gap-6">
    <div class="flex flex-col items-center space-y-4">
      <div class="w-48 h-64 bg-gray-200"></div>
      <button 
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-13 px-4 py-2 w-32 border border-solid border-black  "
      redireccionar a la pagina de maquinallenadora

      onclick="window.location.href = '/maquina-llenadora';"
      >
        LLENADORA
      </button>
    </div>
    <div class="w-80">
      <div class="text-lg font-semibold mb-4">Maquinas Activas</div>
      <div class="space-y-2">
        <div class="flex items-center justify-between">
          <div class="font-medium">LLENADORA</div>
          <div class="w-4 h-4 bg-green-500"></div>
        </div>
        <div class="flex items-center justify-between">
          <div class="font-medium">ENCORCHADORA</div>
          <div class="w-4 h-4 bg-red-500"></div>
        </div>
        <div class="flex items-center justify-between">
          <div class="font-medium">ENCAPSULADORA</div>
          <div class="w-4 h-4 bg-green-500"></div>
        </div>
        <div class="flex items-center justify-between">
          <div class="font-medium">TERMOSELLADORA</div>
          <div class="w-4 h-4 bg-yellow-500"></div>
        </div>
        <div class="flex items-center justify-between">
          <div class="font-medium">ETIQUETADORA</div>
          <div class="w-4 h-4 bg-red-500"></div>
        </div>
        <div class="flex items-center justify-between">
          <div class="font-medium">EMPAQUETADORA</div>
          <div class="w-4 h-4 bg-green-500"></div>
        </div>
      </div>
    </div>
        <div class="flex flex-col items-center space-y-4">
      <div class="w-48 h-64 bg-gray-200"></div>
      <button 
      class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-13 px-4 py-2 w-32 border border-solid border-black"
      onclick=""
      >
        EMPAQUETADORA 
      </button>
    </div>
  </div>
</div>

