<head>
  <style>
    .estado-maquina {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0;
    }

    .estado-maquina div {
      flex: 1;
      text-align: center;
    }

    .imagen-contenedor {
      position: relative;
      overflow: hidden;
      width: 90%;
      height: 375px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      background-color: transparent;
    }

    .maquina-imagen {
      max-width: 85%;
      max-height: 85%;
      object-fit: cover;
      object-position: center;
    }

    .centrado {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .grid-container {
      display: grid;
      gap: 6px;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 1px;
    }

    @media (min-width: 768px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (min-width: 1024px) {
      .grid-container {
        grid-template-columns: repeat(4, 1fr);
      }
      .grid-container-3 {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .grid-container-3 {
      display: grid;
      gap: 6px;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 1px;
    }

    .boton-maquina {
      margin-top: 10px;
    }

    .estado-maquinas-container {
      margin-bottom: 5px;
    }

    @media (max-width: 767px) {
      .flex-col .space-y-4 {
        margin-bottom: 30px; 
      }
      .estado-maquinas-container {
        margin-bottom: 15px; 
      }
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      .flex-col .space-y-4 {
        margin-bottom: 20px; 
      }
      .estado-maquinas-container { 
        margin-bottom: 10px; 
      }
    }

  </style>
</head>

<body class="bg-gray-100">
  <div class="flex flex-col space-y-10 bg-white md:p-10 w-full">
    <div class="grid-container w-full mb-10">
      <div class="flex flex-col items-center space-y-4">
        <div class="imagen-contenedor shadow-lg rounded-md">
          <img src="/styles/images/encorchadora.png" alt="ENCORCHADORA" class="maquina-imagen">
        </div>
        <button
          class="boton-maquina text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          onclick="window.location.href = '/maquina-no-disponible';">
          ENCORCHADORA
        </button>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <div class="imagen-contenedor shadow-lg rounded-md">
          <img src="/styles/images/encapsuladora.png" alt="ENCAPSULADORA" class="maquina-imagen">
        </div>
        <button
          class="boton-maquina text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          onclick="window.location.href = '/maquina-no-disponible';">
          ENCAPSULADORA
        </button>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <div class="imagen-contenedor shadow-lg rounded-md">
          <img src="/styles/images/termoselladora.png" alt="TERMOSELLADORA" class="maquina-imagen">
        </div>
        <button
          class="boton-maquina text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          onclick="window.location.href = '/maquina-no-disponible';">
          TERMOSELLADORA
        </button>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <div class="imagen-contenedor shadow-lg rounded-md">
          <img src="/styles/images/etiquetadora.png" alt="ETIQUETADORA" class="maquina-imagen">
        </div>
        <button
          class="boton-maquina text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          onclick="window.location.href = '/maquina-no-disponible';">
          ETIQUETADORA
        </button>
      </div>
    </div>
    <div class="grid-container-3 w-full">
      <div class="flex flex-col items-center space-y-4">
        <div class="imagen-contenedor shadow-lg rounded-md">
          <img src="/styles/images/llenadora.png" alt="LLENADORA" class="maquina-imagen">
        </div>
        <button
          class="boton-maquina text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          onclick="window.location.href = '/maquina-llenadora';">
          LLENADORA
        </button>
      </div>
      <div class="estado-maquinas-container w-full sm:w-80 mx-auto flex flex-col items-center centrado">
        <div class="text-lg font-semibold mb-4 text-center">Maquinas Activas</div>
        <div class="space-y-2 w-full">
          <div class="estado-maquina">
            <div>LLENADORA</div>
            <div id="llenadora-status" class="w-4 h-4 rounded-full"></div>
          </div>
          <div class="estado-maquina">
            <div>ENCORCHADORA</div>
            <div id="encorchadora-status" class="w-4 h-4 rounded-full"></div>
          </div>
          <div class="estado-maquina">
            <div>ENCAPSULADORA</div>
            <div id="encapsuladora-status" class="w-4 h-4 rounded-full"></div>
          </div>
          <div class="estado-maquina">
            <div>TERMOSELLADORA</div>
            <div id="termoselladora-status" class="w-4 h-4 rounded-full"></div>
          </div>
          <div class="estado-maquina">
            <div>ETIQUETADORA</div>
            <div id="etiquetadora-status" class="w-4 h-4 rounded-full"></div>
          </div>
          <div class="estado-maquina">
            <div>EMPAQUETADORA</div>
            <div id="empaquetadora-status" class="w-4 h-4 rounded-full"></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <div class="imagen-contenedor shadow-lg rounded-md">
          <img src="/styles/images/empaquetadora.png" alt="EMPAQUETADORA" class="maquina-imagen">
        </div>
        <button
          class="boton-maquina text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          onclick="window.location.href = '/maquina-no-disponible';">
          EMPAQUETADORA
        </button>
      </div>
    </div>
  </div>

  <script>
    // Estados de las máquinas
    const estadosMaquinas = {
      llenadora: true,
      encorchadora: false,
      encapsuladora: true,
      termoselladora: false,
      etiquetadora: false,
      empaquetadora: true
    };

    // Función para actualizar el color del estado según el valor booleano
    function actualizarEstado(elementoId, estado) {
      const colorClase = estado ? 'bg-green-500' : 'bg-red-500';
      document.getElementById(elementoId).className = 'w-4 h-4 rounded-full ' + colorClase;
    }

    // Actualizar el color de los estados de las máquinas
    actualizarEstado('llenadora-status', estadosMaquinas.llenadora);
    actualizarEstado('encorchadora-status', estadosMaquinas.encorchadora);
    actualizarEstado('encapsuladora-status', estadosMaquinas.encapsuladora);
    actualizarEstado('termoselladora-status', estadosMaquinas.termoselladora);
    actualizarEstado('etiquetadora-status', estadosMaquinas.etiquetadora);
    actualizarEstado('empaquetadora-status', estadosMaquinas.empaquetadora);
  </script>
</body>

</html>
